.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px auto 50px auto;

  max-width: 340px;
  height: 430px;
  border: 1px solid black;
  border-radius: 7px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.description {
  width: 100%;
  padding-bottom: 20px;
}
.avatar {
  background-color: tomato;
  max-width: 50%;
  border-radius: 50%;
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}
.name {
  padding-top: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.tag {
  padding-top: 8px;
  color: gray;
  text-align: center;
}
.location {
  padding-top: 8px;
  color: gray;
  text-align: center;
}
.stats {
  display: flex;
}
.label {
  color: white;
  font-size: 12px;
  padding-bottom: 4px;
}
.quantity {
  font-weight: bold;
}

.profile li {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(62, 54, 54);
  border-radius: 7px;
  background-color: tomato;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
